body {
  text-align: center;
  background-color: #1f2937;
  font-family: "Inter", sans-serif;
}

.main-container {
  border: 1.5px solid #10b981;
  border-radius: 15px;
  width: 550px;
  height: 680px;
  margin: auto;
  box-shadow: 1px 4px 20px 9px #10b981;
}

.input-container {
  color: #ffffff;
  background-color: #064e3b;
  padding-top: 30px;
  width: 550px;
  height: 285px;
  border-radius: 10px;
}

.input-container > input {
  width: 117px;
  height: 83px;
  border: 2px solid #10b981;
  border-radius: 5px;
  background-color: #064e3b;
  font-size: 58px;
  color: #10b981;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container > button {
  margin-top: 25px;
  width: 117px;
  height: 42px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #449d84;
  font-size: 16px;
}

.info-container {
  width: 500px;
  height: 90px;
  background-color: #065f46;
  margin: auto;
}

h5 {
  color: #059669;
  font-size: 15px;
  padding-top: 10px;
}

p {
  color: #34d399;
  line-height: 16px;
}
